{% extends "master.twig" %}

{% block main %}
    <div class="row">
        <div class="col-lg-12 border border-secondary" id="url-form">

            <h2 class="display-5">Enter Video URL</h2>

            <div class="input-group mb-3" id="url-input">
                <div class="input-group-prepend">
                </div>
                <input id="url-download-txt" placeholder="https://www.youtube.com/watch?v=RBcOyi29I98" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                <div class="input-group-append">
                    <button id="url-download-btn" class="btn btn-danger" type="button">Download</button>
                </div>
            </div>

{#            <video id="url-download-video" width="320" height="240" controls>#}
{#                <source src="" type="video/mp4">#}
{#            </video>#}

        </div>
    </div>
{% endblock %}